*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* receipt section */
.food-pic{
    height: 300px;
    position: relative;
}

/* .receipt-body{
    position: absolute;
    TOP:210px;
} */

.food-group{
    width:80%;
    margin: 0 auto;
}

/* team section */
.team-group{
    width:70%;
    margin: 0 auto;
    gap:10px
}
.member{
    height:250px;
    
}